#root {
    display: grid;
    justify-content: center;
}
header, main, footer {
    z-index: 1;

    width: 1200px;
    max-width: 96vw;
}

video {
    z-index: 0;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    min-height: 100vh;
    min-width: 100vw;

    opacity: 0.4;
}